body {
    margin:0;
    width: 80%;
    font-family: "Roboto", !important;
    background-color: white 
}
a:link {
    text-decoration:none;
}

ul {
    list-style-type: none;
}

.cursive {
    font-family: 'Courgette', sans-serif;
}

.bold {
    font-weight: bold;
}

a, a:visited, a:hover {
   color: black; 
}
nav {
    position: fixed !important;
    margin:0;
    margin-bottom: 400px;
    width: 100%;
    
    font-size: 1.5em;
    background-color: white;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}
.nav_icons div{
    
    display: inline-block;
}
.nav_icons::after {
    clear: both;
}
.nav_search_icon {
    position: relative;
    left: 1vh;
}
.cosmos {
    font-size: 0.8em;
    position: relative;
    left: 2vh;
    bottom: 4px;
    
}
.logo {
    z-index: 10000;
    position:relative;
    left: 35%;
    top: 1vh
}

.sub_button {
    float:right;
    margin:0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
}
.button {
    margin:0;
    padding: 8px;
    justify-content: space-between;
    border-radius: 7px;
    font-size: 0.4em;
    font-weight: 500;
    color:white;
    text-transform: uppercase;
    background-color: #6288a5;
    
    
}

#b_one {
    margin-right: 2vh
}

.main_div {
    clear: both;
    width: 90%;
    margin-left: 10vh;
    display: block;
    /*border: 2px solid red;*/
}


h2 {
    font-family: 'Courgette', sans-serif !important;
    font-size: 1.9em;
    text-align: center
}


.main_article {
    width: 70%;
    margin-left: 20vh;
        display: inline-block;
}
.media {
    display: flex;
}
.list li{
    display: inline-block;
}

.media_links {
    float: right;
    position: relative;
    bottom:10vh
}
.main_text p{ 
    text-align: justify

}
.main_article:after {
    clear: both;
}

/* END OF MY FLOAT IMPLEMENTATION */


.container_footer {
    margin-left: 10vh;
    margin-top: 10vh
}
.almost_footer1 {
    margin-left: 10vh;
}
.sub-container {
    display: block;
    width: 450px;
    
}

.author_name {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 0.8em;
}

.date_socialmedia {
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.list {
    list-style-type: none;
    display: flex;
}

.list li {
    background-color: grey;
    border-radius: 100%;
    padding: 8px;
}

.list li:not(:last-child) {
    margin-right: 1vh;
}
.main_text p {
    font-size: 0.9em;
}



.almost_footer {
    
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    padding-top: 1.5vh;
    padding-bottom: 10vh;
    margin-bottom: 6vh;
}

.almost_footer button {
    background-color: #6288a5;
    color: white;
}

.almost_footer1 {
    padding-top: 5vh;
    margin-right: 5vh;
}

.almost_footer1 h6 {
    font-weight: bold;
}

.almost_footer1 p {
    font-size: 1em;
    color: rgb(102, 102, 102);
    font-weight: thin;
}

.almost_footer2 {
    display: flex;
    padding-top: 5vh;
}

#email_butt {
    background-color: #6288a5;
    margin-left: 0px;
    border-left: 0px;
    border-radius: 0px;
}

.email_form {
    z-index: 1;
    width: 100%;
    height: auto;
}
.email_form1 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

.footer ul li {
    border-top: 1px solid #dedede;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 2px auto;
    font-family: serif;
    font-weight: bold;
    font-size: 1em;
}

.footer ul li a:hover {
    color: #a8a8a8;
    text-decoration: none;
}

.news span {
    font-size: 0.7em;
    color: #a8a8a8;
}

.editor_picks {
    border-top: 1px solid black;
    padding-top: 4vh;
}
.top_footer {
    display: flex;
    border-top: 4px double grey;

}
.first{
    flex:1

}
.second {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    flex:2;
}
.footer_container {
    display: flex;
    padding-top: 8vh;
}
.NEWS {
    flex:1;
}

.OPINION {
    flex:1;
}

.ARTS {
    flex:1;
}

.LIVING {
    flex:1;
}

.MORE {
    flex:1;
}

.SUBSCRIBE {
    flex:1;
    border-left: 1px solid #e3e3e3;
}

.footer_container li {
    font-size: 0.8em;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.age {
    font-size: 0.8em;
}

.big {
   font-weight: bold;
}