
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.cursive {
    font-family: 'Courgette', sans-serif;
}

.bold {
    font-weight: bold;
}

a, a:visited, a:hover {
   color: black; 
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.first {
    display: flex;
}

#cosmos {
    margin-top: 3px;
    font-weight: bold;
    color: black
}

.first a {
    margin-left: 2vh;
    margin-right: 2vh;
}

.head_right ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.head_right li {
    margin-top: 2vh;
    margin-right: 2vh;
}

.head_right button {
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #6288a5;
}

/* beginning of the article */

.article_container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    text-align: center;
    background: no-repeat url("assets/1.jpg") 100% / 100%;
    
}
.article_container img{
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 1;  /* make it transparent */
}
.article_container h2 {
    font-size: 2.5em;
    margin-bottom: 5vh;
    text-align: center;
}
.messy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figcaption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    font-size: 0.7em;
}
figure span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    font-size:0.6em;
    color: grey;
    
}
/* MAIN ARTICLE */

.sub-container {
    display: block;
    width: 450px;
    
}

.author_name {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 0.8em;
}

.date_socialmedia {
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.list {
    list-style-type: none;
    display: flex;
}

.list li {
    background-color: grey;
    border-radius: 100%;
    padding: 8px;
}

.list li:not(:last-child) {
    margin-right: 1vh;
}
.main_text p {
    font-size: 0.9em;
}

.almost_footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    padding-top: 1.5vh;
    padding-bottom: 10vh;
    margin-bottom: 6vh;
}

.almost_footer button {
    background-color: #6288a5;
    color: white;
}

.almost_footer1 {
    padding-top: 5vh;
    margin-right: 5vh;
}

.almost_footer1 h6 {
    font-weight: bold;
}

.almost_footer1 p {
    font-size: 1em;
    color: rgb(102, 102, 102);
    font-weight: thin;
}

.almost_footer2 {
    display: flex;
    padding-top: 5vh;
}

#email_butt {
    background-color: #6288a5;
    margin-left: 0px;
    border-left: 0px;
    border-radius: 0px;
}

.email_form {
    
    width: 100%;
    height: auto;
}
.email_form1 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

.footer ul li {
    border-top: 1px solid #dedede;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 2px auto;
    font-family: serif;
    font-weight: bold;
    font-size: 1em;
}

.footer ul li a:hover {
    color: #a8a8a8;
    text-decoration: none;
}

.news span {
    font-size: 0.7em;
    color: #a8a8a8;
}

.editor_picks {
    border-top: 1px solid black;
    padding-top: 4vh;
}
.top_footer {
    display: flex;
    border-top: 4px double grey;

}
.first{
    flex:1

}
.second {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    flex:2;
}
.footer_container {
    display: flex;
    padding-top: 8vh;
}
.NEWS {
    flex:1;
}

.OPINION {
    flex:1;
}
.ARTS {
    flex:1;
}
.LIVING {
    flex:1;
}
.MORE {
    flex:1;
}
.SUBSCRIBE {
    flex:1;
    border-left: 1px solid grey
}
.footer_container li {
    font-size: 0.8em;
}