body {
  margin: 0;
  width: 80%;
  font-family: "Roboto", sans-serif;
  background-color:white;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.cursive {
  font-family: 'Courgette', sans-serif;
}

.bold {
  font-weight: bold;
}

a {
  color:black;
  text-decoration: none;
}

a:visited {
  color:black; 
  text-decoration: none;
}

a:hover {
  color:black; 
  text-decoration: none;
}

p {
  font-family: serif;
}

nav {
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 1.5em;
  position: fixed;
  margin: 0;
  margin-bottom: 400px;
  padding-bottom: 4px;
  width: 100%;
  z-index: 999;
}

.nav_icons div {
  display: inline-block;
}

.nav_icons::after {
  clear: both;
}

.nav_search_icon {
  left: 1vh;
  position: relative;
}

.cosmos {
  bottom: 4px;
  left: 2vh;
  position: relative;
  font-size: 0.8em;
}

.logo img {
  height: 25;
  left: 150%;
  position: relative;
  top: 1vh;
  z-index: 999;
}

.sub_button {
  list-style-type: none;
  margin: 0;
  float: right;
}

.sub_button li {
  float: left;
}

.button {
  background-color: #6288a5;
  border-radius: 7px;
  color: white;
  font-size: 0.4em;
  font-weight: 500;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  text-transform: uppercase;
  
}

#b_one {
  margin-right: 2vh;
}

.main_div {
  display: block;
  clear: both;
  margin-left: 15vh;
  width: 90%;
  
}

h2 {
  font-size: 1.9em;
  text-align: center;
  font-family: 'Courgette', sans-serif !important;
}

.article_body {
  display: block;
  margin: 0 auto;
  max-width: 90vh;
}

.main_article {
  display: inline-block;  
  left: -5%;
  margin-left: 30vh;
  margin-right: 20vh;
  position: relative;
  display: block;
}

.list li {
  display: inline-block;
}

.media_links {
  bottom: 10vh;
  position: relative;
  float: right;
}

.media_links a {
  border-radius: 4px;
  padding: 4px;
}

.main_text p {
  font-size: 1.2em;
  width: 580px;
  text-align: justify;
}

.main_article:after {
  clear: both;
}

.container_footer {
  display: block;
  left: 10%;
  position: relative;
  right: 10%;
  width: 100%;
  clear: both;
}

.almost_footer {
  left: 10%;
  position: relative;
  right: 10%;
  display: block;
}

.almost_footer1 {
  margin-left: 10vh;
}

.sub-container {
  display: block;
  width: 450px;
}

.list {
  list-style-type: none;
}

.list li {
  background-color: grey;
  border-radius: 100%;
  padding: 8px;
}

.list li:not(:last-child) {
  margin-right: 1vh;
}

.almost_footer {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  float: left;
  margin-bottom: 6vh;
  padding-bottom: 10vh;
  padding-top: 1.5vh;
}

.almost_footer button {
  background-color: #6288a5;
  color: white;
}

.almost_footer1 {
  float: left;
  width: 45%; 
}

.almost_footer1 h6 {
  font-weight: bold;
}

.almost_footer1 p {
  color: rgb(102, 102, 102);
  font-size: 1em;
  font-weight: thin;
}

.almost_footer2 {
  padding-top: 5vh;
  float: right;
  width: 45%;
}

#email_butt {
  background-color: #6288a5;
  border-left: 0px;
  border-radius: 0px;
  margin-left: 0px;
}

.email_form {
  height: auto;
  width: 100%;
  z-index: 1;
}

.footer ul li {
  border-top: 1px solid #dedede;
  font-family: serif;
  font-size: 1em;
  font-weight: bold;
  margin: 2px auto;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.footer ul li a:hover {
  color: #a8a8a8;
  text-decoration: none;
}

.news span {
  color: #a8a8a8;
  font-size: 0.7em;
}

.editor_picks {
  border-top: 1px solid black;
  padding-top: 4vh;
}

.top_footer {
  border-top: 4px double grey;
}

/* footer */

.footer_container {
  display: block;
  left: 10%;
  margin-top: 5vh;
  position: relative;
  right: 10%;
  }

.footer_container ul {
  float: left;
  margin-top: 5vh;
  margin-right: 3vh;
}

.footer_container ul:not(:last-child) { 
  margin-right: 5vh;
}

.footer_container li {
  font-size: 0.8em;
  margin-top: 1vh;
}

.footer_container .second {
  color: rgb(98, 136, 165);
  float: right;
  font-size: 0.7em;
}

.footer_container .second a {
  color: rgb(98, 136, 165);
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.age {
  font-size: 0.8em;
}

.big {
   font-weight: bold;
}

/* theory of inflation */

.theory-of-inflation {
  width: 100%;
}

.theory-of-inflation ul {
  width: 100%;
}

.theory-of-inflation p {
  font-family: sans-serif !important;
  font-size: 0.8em;
}

.theory-of-inflation span {
  font-weight: bold;
  text-transform: uppercase;
  
}

.article-continue {
  display: block;
  margin: 0 auto;
  width: 580px;
}

.article-continue p {
  font-family: serif !important;
  font-size: 1.2em;
  text-align: justify;
}

.article-continue h5 {
  font-size: 0.7em;
}

.article-continue button {
  border: #175aa6 1px solid;
  padding-right: 10vh;
  padding-left: 10vh;
  font-size: 0.8em;
  margin-bottom: 5vh;
}

aside {
  font-family: serif;
}

aside ul li {
  border-top: 1px solid #b0b0b0;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-weight: bold;
}

.container_footer h6 {
  font-family: serif;
}
footer {
  border-top: 1px solid #a8a8a8;
  clear: both;
  margin-left: 20vh;
  padding-top: 2.5vh;
  width: 100%;   
}

footer span {
    color:grey;
    margin-right:2vh;
}