
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: 400;
}

nav {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 2px solid red;
}
a {text-decoration: none;}
.first {
    display: flex;
    
}
#cosmos {
    margin-top: 3px;
    font-weight: bold;
    color: black
}

.first a {
    
    margin-right: 2vh;
    border: 2px solid red;
}

.head_rigth {
    display: flex;
    flex-direction: row

    justify-content: right;
}
